

<div class="mid-info">
    
    <div class="social-links">
        <a href=""><i class="ri-linkedin-box-fill"></i></a>
        <a href=""><i class="ri-facebook-circle-fill"></i></a>
        <a href=""><i class="ri-github-fill"></i></a>
    </div>

  

</div>